<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <link href="../static/estilos/estilo1.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Lista de Países</h2>
        <a th:href="@{/nuevoPais}">Nuevo País</a>
        <br>
        <br>
        <div th:if="${paises != null and !paises.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Capital</th>
                        <th>Población</th>
                        <th>Continente</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="item:${paises}">
                        <!-- comment  <td th:text="${item.idPais}"></td>  -->
                        <td th:text="${item.nombre}"></td>
                        <td th:text="${item.capital}"></td>
                        <td th:text="${item.poblacion}"></td>
                        <td th:text="${item.continente}"></td>
                        <td><a th:href="@{/modificarPais/} + ${item.idPais}">Modificar</td>
                        <td><a th:href="@{/eliminarPais/} + ${item.idPais}">Eliminar</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${paises==null or paises.empty}">
             La lista está vacía.
       </div> 
        
        <footer th:replace="layout/plantilla:: footer" />
        
    </body>
</html>

